@import url("geral.css");

.servicos {
  background-color: transparent;
  background-image: var(--degrade);
  padding: 80px 0;
  position: relative;

}
.container-servico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  font-family: var(--fonte-principal);
}
.box-servico {
  background-color: #fff;
  height: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  justify-content: space space-between;
  transition: all 0.6s ease;
}
.box-imagem {
  height: 230px;
  align-self: center;
  margin-top: 50px;
}
.box-imagem img {
  object-fit: contain;
  width: 224px;
}
.box-title h2 {
  font-weight: 700;
  font-size: 27px;
  color: #231f20;
}
.descricao-servico p {
  font-size: 15px;
  color: var(--cor-cinza-claro);
  margin: 8px 0;
}
.box-saiba a {
  color: var(--cor-cinza);
  font-weight: 500;
  display: inline-block;
}
.box-saiba a::after {
  content: "";
  display: block;
  background-color: var(--cor-azul);
  height: 2px;
  width: 30%;
  margin: 7px auto;

  transition: 0.5s ease;
}
.box-servico:hover {
  transition: all 0.6s ease;
  box-shadow: 10px 10px 0 0 #01d5c9;
  transform: scale(1.1);
}
.box-servico:hover .box-saiba a::after{
    width: 100%;
    transition: 0.5s ease;
}
.container-contato{
  position: relative;
  display: flex;
  align-items: center;
}
.box-contato{
    position: absolute;
    margin: 0 auto;
    bottom: -160px;
    padding:20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #1639f3 0%, #36e3bd 88%);
    font-family: var(--fonte-principal);
    width: 100%;
}
.box-contato span {
    color:#fff;
    text-align: center;
}
.box-contato a {
    background-color: var(--cor-roxa);
    padding: 20px 52px;
    color: #fff;
    box-shadow: 4px 4px 0 0 #ff4073;
    margin-left:80px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all .6s ease;
    font-weight: 600;
}
.box-contato a:hover{
    background-color: #fff;
    color: var(--cor-cinza);

}


